[MASTER]
# pylint makes deeply recursive calls, make sure we have a big enough stack
init-hook='import sys; sys.setrecursionlimit(5000)'

[MESSAGES CONTROL]
disable = E1101, C0103, C0412, C0111, W0511, W1201, no-self-use, bad-continuation, import-error, logging-fstring-interpolation, logging-format-interpolation, wildcard-import, broad-except, inconsistent-return-statements, line-too-long, no-value-for-parameter, singleton-comparison, unused-argument, anomalous-backslash-in-string

[BASIC]
# Provide some good names that we allow
good-names=dx, dy, db, id, dt, df, op, logger, foo, bar, baz

[DESIGN]
# maximum line length
max-line-length = 120

# Maximum number of arguments for function / method
max-args = 10

# Maximum number of locals for function / method body
max-locals = 20

# Maximum number of attributes for a class (see R0902).
max-attributes = 20

# Minimum number of public methods for a class (see R0903).
# model class can have not public methods
min-public-methods = 0

[SIMILARITIES]
# Minimum lines number of a similarity.
min-similarity-lines=10

# Ignore comments when computing similarities.
ignore-comments=yes

# Ignore docstrings when computing similarities.
ignore-docstrings=yes

# Ignore imports when computing similarities.
ignore-imports=yes

[IMPORTS]
# Force import order to recognize a module as part of a third party library.
known-third-party=indigoag.ads, common_agronomy
